In [1]:
import pandas as pd
from bs4 import BeautifulSoup as bs
import os 
import requests
import pymongo
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager

In [2]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=True)

====== WebDriver manager ======
Current google-chrome version is 90.0.4430
Get LATEST driver version for 90.0.4430
Driver [C:\Users\nagle.bagel\.wdm\drivers\chromedriver\win32\90.0.4430.24\chromedriver.exe] found in cache

In [3]:
url = "https://redplanetscience.com"

In [4]:
with browser as browser:
    browser.visit(url)
    mars_html = browser.html
    mars_soup = bs(mars_html, 'html.parser')

In [6]:
news = mars_soup.find("div",id = 'news')
title_text = news.find_all("div", class_ = 'content_title')[0].text
article_text = news.find_all("div", class_ = 'article_teaser_body')[0].text

In [7]:
url = "https://spaceimages-mars.com/"

In [8]:
browser = Browser('chrome', **executable_path, headless=True)
with browser as browser:
    browser.visit(url)
    space_images_html = browser.html
    space_images_soup = bs(space_images_html, 'html.parser')
    
featured_image_url = space_images_soup.find("img", class_ = "headerimage")['src']

In [2]:
url = "https://galaxyfacts-mars.com/"
mars_facts = pd.read_html(url)

In [3]:
mars_facts

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [5]:
len(mars_facts)

2

In [12]:
mars_comparison = mars_facts[0]
mars_facts_table = mars_facts[1]

In [11]:
mars_comparison.columns = mars_comparison.iloc[0,:]
mars_comparison.set_index('Mars - Earth Comparison', inplace = True)
mars_comparison = mars_comparison.iloc[1:]

mars_facts_table.columns = ['Fact','Info']
mars_facts_table.set_index('Fact', inplace = True)

KeyError: "None of ['Mars - Earth Comparison'] are in the columns"

In [28]:
mars_facts_table_html = mars_facts_table.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Info</th>\n    </tr>\n    <tr>\n      <th>Fact</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 ( Phobos &amp; Deimos )</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [25]:
mars_comparison

Mars - Earth Comparison             Mars            Earth
Mars - Earth Comparison
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [27]:
hemisphere_image_urls = [
    {"title":"Cerberus Hemisphere","img_url":"https://marshemispheres.com/images/full.jpg"},
    {"title":"Schiaparelli Hemisphere","img_url":"https://marshemispheres.com/images/schiaparelli_enhanced-full.jpg"},
    {"title":"Syrtis Major Hemisphere","img_url":"https://marshemispheres.com/images/syrtis_major_enhanced-full.jpg"},
    {"title":"Valles Marineris Hemisphere","img_url":"https://marshemispheres.com/images/valles_marineris_enhanced-full.jpg"} 
]

In [30]:
from scrape_mars import scrape

conn = 'mongodb://localhost:27017'

client = pymongo.MongoClient(conn)

db = client.mars_db
db.mars_data.drop()

scraped = scrape()

db.mars_data.insert(
    scraped
)

====== WebDriver manager ======
Current google-chrome version is 90.0.4430
Get LATEST driver version for 90.0.4430
Driver [C:\Users\nagle.bagel\.wdm\drivers\chromedriver\win32\90.0.4430.24\chromedriver.exe] found in cache
F:\anaconda\envs\PythonData\lib\site-packages\ipykernel_launcher.py:13: DeprecationWarning: insert is deprecated. Use insert_one or insert_many instead.
  del sys.path[0]

ObjectId('608dffc0c2a67a4c77f58348')

In [49]:
pprint(i)

{'Featured Image': 'image/featured/mars3.jpg',
 'Hemisphere Images': [{'img_url': 'https://marshemispheres.com/images/full.jpg',
                        'title': 'Cerberus Hemisphere'},
                       {'img_url': 'https://marshemispheres.com/images/schiaparelli_enhanced-full.jpg',
                        'title': 'Schiaparelli Hemisphere'},
                       {'img_url': 'https://marshemispheres.com/images/syrtis_major_enhanced-full.jpg',
                        'title': 'Syrtis Major Hemisphere'},
                       {'img_url': 'https://marshemispheres.com/images/valles_marineris_enhanced-full.jpg',
                        'title': 'Valles Marineris Hemisphere'}],
 'Mars Facts': '<table border="1" class="dataframe">\n'
               '  <thead>\n'
               '    <tr style="text-align: right;">\n'
               '      <th></th>\n'
               '      <th>Info</th>\n'
               '    </tr>\n'
               '    <tr>\n'
               '      <th>Fact</th>\n'
               '      <th></th>\n'
               '    </tr>\n'
               '  </thead>\n'
               '  <tbody>\n'
               '    <tr>\n'
               '      <th>Equatorial Diameter:</th>\n'
               '      <td>6,792 km</td>\n'
               '    </tr>\n'
               '    <tr>\n'
               '      <th>Polar Diameter:</th>\n'
               '      <td>6,752 km</td>\n'
               '    </tr>\n'
               '    <tr>\n'
               '      <th>Mass:</th>\n'
               '      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n'
               '    </tr>\n'
               '    <tr>\n'
               '      <th>Moons:</th>\n'
               '      <td>2 ( Phobos &amp; Deimos )</td>\n'
               '    </tr>\n'
               '    <tr>\n'
               '      <th>Orbit Distance:</th>\n'
               '      <td>227,943,824 km (1.38 AU)</td>\n'
               '    </tr>\n'
               '    <tr>\n'
               '      <th>Orbit Period:</th>\n'
               '      <td>687 days (1.9 years)</td>\n'
               '    </tr>\n'
               '    <tr>\n'
               '      <th>Surface Temperature:</th>\n'
               '      <td>-87 to -5 °C</td>\n'
               '    </tr>\n'
               '    <tr>\n'
               '      <th>First Record:</th>\n'
               '      <td>2nd millennium BC</td>\n'
               '    </tr>\n'
               '    <tr>\n'
               '      <th>Recorded By:</th>\n'
               '      <td>Egyptian astronomers</td>\n'
               '    </tr>\n'
               '  </tbody>\n'
               '</table>',
 'Red Planet News': {'body': "It's the first time machine learning has been "
                             'used to find previously unknown craters on the '
                             'Red Planet.',
                     'title': 'AI Is Helping Scientists Discover Fresh Craters '
                              'on Mars'},
 '_id': ObjectId('608e0329d73291110d818680')}